In [13]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [16]:
# comma after trhe cars is to avoid the continous erroe
import pandas as pa
mydataset={
    'cars':["BMW","VOLVA","TATA"],
    'passings':[3, 7, 2]
}
myvariable=pa.DataFrame(mydataset)
    
print(myvariable)

    cars  passings
0    BMW         3
1  VOLVA         7
2   TATA         2

In [18]:
import pandas as pd
a=[1,7,2]
myava=pd.Series(a)
print(myava)

0    1
1    7
2    2
dtype: int64

In [20]:
import pandas as pa
a=[1.64,10,11,12]
myava=pa.Series(a)
print(myava)

0     1.64
1    10.00
2    11.00
3    12.00
dtype: float64

In [26]:
import pandas as pa
a=[10,1.23,50]
myava=pa.Series(a, index=["x","y","z"])
print(myava)

x    10.00
y     1.23
z    50.00
dtype: float64

In [25]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [31]:
import pandas as pa
calories={"wheat":200,"rice":1000,"BARLLEY":400}
lo=pa.Series(calories)
print(lo)

wheat       200
rice       1000
BARLLEY     400
dtype: int64

In [39]:
import pandas as pa
data={
    'calories':[100, 200, 350, 400],
    'colories burn':[20, 50, 60, 40]
    
}

myvar=pa.DataFrame(data)
print(myvar)

   calories  colories burn
0       100             20
1       200             50
2       350             60
3       400             40

In [40]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [49]:
df=myvar
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [52]:
import pandas as pa
data_user={
    'COST':[100,200,150,110],
    'Fruits':["butterfruit","mango","kiwi","jackfruit"]
}

myvar=pa.DataFrame(data_user,index=["1KG","1.2KG","1.2 KG","PERFRUIT"])
print(myvar)

          COST       Fruits
1KG        100  butterfruit
1.2KG      200        mango
1.2 KG     150         kiwi
PERFRUIT   110    jackfruit

In [ ]:
#Load the CSV into a DataFrame:

In [ ]:
#Print the DataFrame without the to_string() method: